<%= simple_form_for @message do |f| %>
  <%= f.input :content, label: false, :input_html => {:rows => 10} %>
  <div class="write-btn">
    <%= f.button :submit, class: "round-btn confirm-btn" %>
  </div>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 62c0559a81800f18fc8bd23a7660479681174bfa
