<%= simple_form_for @message do |f| %>
  <%= f.input :content, label: false, :input_html => {:rows => 10} %>
<<<<<<< HEAD
  <div class="write-btn">
    <%= f.button :submit, class: "round-btn confirm-btn" %>  
  </div>
<% end %>
=======
  <%= f.button :submit %>
<% end %>
>>>>>>> 58168c627698e847a8f87188b3cefe898caf2dcd
