<<<<<<< HEAD
<!--message new-->
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>새로운 메시지 작성</h2>
    <%= render 'form' %>
  </div>
</div>
=======
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>새로운 메시지 작성</h2>
    <hr />
    <%= render 'form' %>
  </div>
</div>
>>>>>>> 58168c627698e847a8f87188b3cefe898caf2dcd
