<!--message new-->
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>새로운 메시지 작성</h2>
    <hr />
    <p>
      아래에 선생님께 드리는 메시지를 작성해 주세요.
    </p>
    <%= render 'form' %>
  </div>
</div>
