<div id="pt-wrap">
    <!--div id="pt-message">
        message
    </div>
    <div id="pt-name">
        Name  
    </div-->
    <a id="pt-togo">
        메시지로 가기
    </a>
</div>
<script>
    get_new();
</script>